@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image:  url(img/bg.png);
    background-size: cover;
    padding:10px;
}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    position: relative;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
}

.container form .user-detail{
    display: flex;
    justify-content: space-between;

}
form .user-detail .input-box{
    width: calc(100%/2 - 20px);
    margin: 20px 0 12px 0;
    margin-bottom: 15px;
}
.user-detail .input-box input{
    height: 45px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-detail .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}
.user-detail .input-box input:focus,
.user-detail .input-box input:valid{
    border-color: #4FD3C4 ;
}
form .button{
    height: 45px;
    width: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    background: linear-gradient(135deg, #533E85, #488FB1);
    border-radius: 5px;
}
form .button input:hover{
    background: linear-gradient(-135deg, #533E85, #488FB1);
    transition: 0.3s ease;
}
.text a{
    text-decoration: none;
    color: #533E85;
    font-weight: 500;
    font-size: 13px;
}
.regis a{
    text-decoration: none;
    color: #533E85;
    font-weight: 500;
    font-size: 13px;
}
.regis p{
    color: black;
    font-weight: 500;
    font-size: 13px;
}
.forget{
    padding-top: 10px;
}

@media (max-width : 584px) {
    .container{
        max-width: 100%;
    }
    form .user-detail .input-box{
        width: 100%;
        margin-bottom: 10px;
    }
    .container form .user-detail{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
    }
}